* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
h1 {
	color: #525454;
	font-size: 22px;
	margin: 0 0 10px 0;
	text-align: center;
}
.container {
  width: 100%;
  clear: both;
  height:100%;
}
#map {
	bottom: 0px;
	height: 100%;
	width: 75%;
}
ul {
	color: #f2f2f2;
	background-color: #4000ff;
	border-radius: 5px;
	list-style-type: none;
}
.nav-bar {
     background-color: #ecf0f1;
     display: block;
     background: #ff
     width:50%;
}
@media screen and (max-width: 460px) {   ///features happen between 0 and 460px
  #map {
        height: 100%;
        width: auto;
        margin: 1px;
        background-color: #222;
        color: #fff;
   }
    .navbar {
        margin-bottom: 2px;
   }

   @media (min-width: 461px) and (max-width: 1200px) {
        #map {
            height: 100%;
            width: auto;
            margin: 1px;
            background-color: #222;
            color: #fff;
       }
        .nav-bar {
            background-color: #ecf0f1;
            margin-bottom: 2px;
            width: 50%;
       }
   }

	.filter-label {
		font-size: 14px;
	}
	.text-input-box {
		width: 70%;
	}
